# Библиотека Pandas
Когда и зачем использовать

Режим презентации jupyter nbconvert my_script.ipynb --to slides --post serve

https://medium.com/@mjspeck/presenting-code-using-jupyter-notebook-slides-a8a3c3b59d67

In [1]:
# запуск презентации
!/Users/kbashevoy/anaconda3/bin/jupyter nbconvert Python_10_pandas_presentation_mode.ipynb --to slides --post serve

/bin/bash: /Users/kbashevoy/anaconda3/bin/jupyter: No such file or directory

In [2]:
import pandas as pd

In [4]:
# https://grouplens.org/datasets/movielens/

ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [6]:
# сколько фильмов в коллекции
len(ratings.movieId.unique())

9724

In [7]:
%%time

# топ пользователей по количеству оценок
ratings.groupby('userId').count().sort_values('movieId', ascending=False).head()

CPU times: user 221 µs, sys: 4.34 ms, total: 4.56 ms
Wall time: 5.01 ms

        movieId  rating  timestamp
userId
414        2698    2698       2698
599        2478    2478       2478
474        2108    2108       2108
448        1864    1864       1864
274        1346    1346       1346

# Lifetime

In [8]:
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped.head()

/tmp/ipykernel_9530/974639261.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ratings_grouped = ratings.groupby('userId').agg([min, max])
/tmp/ipykernel_9530/974639261.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ratings_grouped = ratings.groupby('userId').agg([min, max])

       movieId         rating        timestamp
           min     max    min  max         min         max
userId
1            1    5060    1.0  5.0   964980499   965719662
2          318  131724    2.0  5.0  1445714835  1445715340
3           31   72378    0.5  5.0  1306463323  1306464293
4           21    4967    1.0  5.0   945078428  1007574542
5            1     608    1.0  5.0   847434747   847435337

In [7]:
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']
ratings_grouped.head()

       movieId         rating        timestamp              diff
           min     max    min  max         min         max
userId
1          110  112552    0.5  5.0  1425941300  1425942699  1399
2            5    1552    1.0  5.0   867039165   867041296  2131
3          480    4474    2.0  4.0  1048076830  1048077048   218
4          223    5679    1.0  5.0  1042667845  1042674886  7041
5            7    3255    1.0  5.0   949423787   949424522   735

In [8]:
ratings_grouped['diff'].mean() / 24 / 3600

126.22761148027357

In [9]:
%%time

ratings = pd.read_csv('ml-latest/ratings.csv')
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']

ratings_grouped['diff'].mean() / 24 / 3600

CPU times: user 14.3 s, sys: 2.41 s, total: 16.7 s
Wall time: 18 s

# JOIN как в SQL

In [10]:
movies = pd.read_csv('ml-latest/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,110,1.0,1425941529,Braveheart (1995),Action|Drama|War
1,1,147,4.5,1425942435,"Basketball Diaries, The (1995)",Drama
2,1,858,5.0,1425941523,"Godfather, The (1972)",Crime|Drama
3,1,1221,5.0,1425941546,"Godfather: Part II, The (1974)",Crime|Drama
4,1,1246,5.0,1425941556,Dead Poets Society (1989),Drama

In [ ]:
joined.sort_values(by=['year', 'country', 'quantity'], ascending=[False, True, False]).head(50)