## ДЗ_Кондратьев_NUMPY-48 Библиотека pandas

### Задание 1
Датасет для домашнего задания вы найдете в разделе “Материалы к домашнему заданию” (файл “Дополнительные файлы для домашнего задания”) к этому занятию.
Определите, какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

Эта строка импортирует библиотеку `pandas` и задает ей сокращенное название `pd`. Библиотека `pandas` используется для работы с таблицами и данными.

In [2]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

Эти строки считывают данные из двух файлов `ratings.csv` и `movies.csv` и создают две таблицы `ratings` и `movies` с помощью функции `read_csv()` из библиотеки `pandas`.

Посмотрим информацию о содержимом таблиц с помощью функций: 

`.head()` используется для вывода первых нескольких строк из DataFrame. По умолчанию `.head()` выводит пять строк, но можно указать желаемое количество строк в качестве аргумента метода. Например, `.head(10)` выведет первые десять строк.

`.info()` предоставляет общую информацию о DataFrame, включая количество строк, количество столбцов, их названия, количество непустых значений в каждом столбце и типы данных столбцов.

In [3]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [7]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

Эта строка объединяет таблицы `ratings` и `movies` по столбцу `movieId` с помощью метода `merge()`. 
Параметр `on='movieId'` указывает, что объединение происходит по столбцу `movieId`. 
Параметр `how='left'` указывает, что используется левое объединение, и все строки из таблицы `ratings` будут сохранены, даже если для них нет соответствующей записи в таблице `movies`.

In [8]:
joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
 4   title      100836 non-null  object
 5   genres     100836 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 4.6+ MB

In [9]:
count_5_ratings = joined[joined['rating'] == 5.0]['title'].value_counts()
count_5_ratings.head()

title
Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
Name: count, dtype: int64

Эта строка отбирает только те строки из объединенной таблицы `joined`, где значение в столбце `rating` равно 5.0, с помощью синтаксиса `[joined['rating'] == 5.0]`. Затем для столбца `title` подсчитывается количество уникальных значений с помощью метода `value_counts()`. Результат сохраняется в переменной `count_5_ratings`, которая будет содержать Series с индексами, соответствующими названиям фильмов, и значениями, соответствующими количеству оценок 5.0 для каждого фильма.

In [10]:
most_rated_movie = count_5_ratings.idxmax()
print('Фильм с наибольшим количеством оценок 5.0:', most_rated_movie)

Фильм с наибольшим количеством оценок 5.0: Shawshank Redemption, The (1994)

Эта строка находит индекс (т.е. название фильма) с наибольшим значением в Series `count_5_ratings` с помощью метода `idxmax()`. Результат сохраняется в переменной `most_rated_movie`.

`.idxmax()` применяется к объекту Series, который является одномерной структурой данных, аналогичной массиву или списку. Он возвращает индекс (позицию) элемента с наибольшим значением в серии данных. Если в серии нет повторяющихся наибольших элементов, то `.idxmax()` вернет только позицию первого из них.

В методе `.idxmax()` не указывается столбец, потому что `count_5_ratings` сам по себе является Series, и для него уже был указан столбец в исходном DataFrame, из которого был получен этот Series.

Название фильма передается в качестве аргумента функции `print()`.

### Задание 2
По данным файла power.csv (находится в архиве в разделе Материалы к лекции «Библиотека Pandas» - файл “Дополнительные файлы для домашнего задания”) посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

Считываем данные из файла `power.csv`и смотрим его содержимое

In [11]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [13]:
data[data['country'].str.contains('lit|lat|est', case=False)]['country'].unique()

array(['Lithuania', 'Latvia', 'Estonia', 'State of Palestine',
       'Timor-Leste'], dtype=object)

Определяем названия стран Прибалтики. Из нашего файла видно, что названия стран Прибалтики в файле указаны как "Lithuania", "Latvia" и "Estonia".

Разберем ее по частям:

1. `data['country'].str.contains('lit|lat|est', case=False)`

Эта часть кода фильтрует данные, оставляя только те строки, в которых значение в столбце 'country' содержит подстроку 'lit', 'lat' или 'est'. 

- `data['country']` - обращение к столбцу 'country' в DataFrame `data`.
- `.str.contains('lit|lat|est', case=False)` - метод `str.contains()` проверяет, содержит ли каждая ячейка в столбце 'country' указанные подстроки 'lit', 'lat' или 'est'. Параметр `case=False` означает, что поиск должен быть регистронезависимым.

2. `[...]['country'].unique()`

Эта часть кода возвращает уникальные значения из столбца 'country' в отфильтрованных данных.

- `[...]` - позволяет получить данные, соответствующие условиям фильтрации.
- `['country']` - выбирает только столбец 'country' из отфильтрованных данных.
- `.unique()` - метод `unique()` возвращает массив уникальных значений из выбранного столбца.

Таким образом, в результате выполнения этой строчки кода мы получаем уникальные значения из столбца 'country' для строк, где значение в этом столбце содержит подстроки 'lit', 'lat' или 'est'. Это будут страны, в названиях которых присутствуют подстроки 'lit', 'lat' или 'est', например, 'Lithuania', 'Latvia', 'Estonia'.

In [14]:
filtered_data = data[(data['country'].isin(['Latvia', 'Lithuania', 'Estonia'])) &
                     (data['category'].isin([4, 12, 21])) &
                     (data['year'].between(2005, 2010)) &
                     (data['quantity'] > 0)]

filtered_data.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4
11158  Lithuania  2006       1.0         4
11159  Lithuania  2005       1.0         4

- `data['country'].isin(['Latvia', 'Lithuania', 'Estonia'])`: это условие фильтрации, которое проверяет, соответствует ли значение в столбце 'country' любому из перечисленных стран - Латвии, Литве или Эстонии. Таким образом, это условие выбирает строки, где страна является одной из Прибалтийских стран.
- `data['category'].isin([4, 12, 21])`: это условие фильтрации, которое проверяет, присутствует ли значения в столбце 'category', равные 4, 12 или 21. Таким образом, это условие выбирает строки, где категория соответствует одной из указанных категорий.
- `data['year'].between(2005, 2010)`: это условие фильтрации, которое проверяет, находится ли значение столбца 'year' в диапазоне от 2005 до 2010 включительно. Таким образом, это условие выбирает строки, где год находится в указанном диапазоне.
- `data['quantity'] > 0`: это условие фильтрации, которое проверяет, является ли значение столбца 'quantity' положительным числом. Таким образом, это условие выбирает строки, где количество больше нуля.
- `&`: это логический оператор "и", который объединяет все условия фильтрации. То есть, строка должна соответствовать всем условиям одновременно, чтобы быть выбранной.
- `filtered_data`: это переменная, в которую сохраняются строки, удовлетворяющие всем условиям фильтрации.

В итоге, переменная `filtered_data` будет содержать только те строки данных из исходного набора данных, которые соответствуют странам Прибалтики (Латвия, Литва, Эстония), категориям 4, 12 и 21, годам с 2005 по 2010 включительно, и положительным значениям количества.

In [23]:
total_consumption = filtered_data['quantity'].sum()
print('Прибалтика:',total_consumption)

Прибалтика: 240580.0

В этом коде мы применяем метод `sum()` к столбцу "quantity" в `filtered_data`. 

Таким образом, мы получаем суммарное потребление для всех трех стран Прибалтики вместе.

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.
Примеры страниц:

https://fortrader.org/quotes;

https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html

In [16]:
import requests

По умолчанию, функция `pd.read_html` использует пакет `requests` для загрузки HTML-страницы с сервера. Поэтому нам потребуется импортировать его.

In [17]:
pd.read_html('https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html')[0]

,Функция или метод,Назначение
0,"S = 'str'; S = ""str""; S = '''str'''; S = """"""st...",Литералы строк
1,"S = ""s\np\ta\nbbb""",Экранированные последовательности
2,"S = r""C:\temp\new""",Неформатированные строки (подавляют экранирова...
3,"S = b""byte""",Строка байтов
4,S1 + S2,Конкатенация (сложение строк)
5,S1 * 3,Повторение строки
6,S[i],Обращение по индексу
7,S[i:j:step],Извлечение среза
8,len(S),Длина строки
9,"S.find(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пер...
10,"S.rfind(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пос...
11,"S.index(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пер...
12,"S.rindex(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пос...
13,"S.replace(шаблон, замена[, maxcount])",Замена шаблона на замену. maxcount ограничивае...
14,S.split(символ),Разбиение строки по разделителю
15,S.isdigit(),Состоит ли строка из цифр
16,S.isalpha(),Состоит ли строка из букв
17,S.isalnum(),Состоит ли строка из цифр или букв
18,S.islower(),Состоит ли строка из символов в нижнем регистре
19,S.isupper(),Состоит ли строка из символов в верхнем регистре
20,S.isspace(),Состоит ли строка из неотображаемых символов (...
21,S.istitle(),Начинаются ли слова в строке с заглавной буквы
22,S.upper(),Преобразование строки к верхнему регистру
23,S.lower(),Преобразование строки к нижнему регистру
24,S.startswith(str),Начинается ли строка S с шаблона str
25,S.endswith(str),Заканчивается ли строка S шаблоном str
26,S.join(список),Сборка строки из списка с разделителем S
27,ord(символ),Символ в его код ASCII
28,chr(число),Код ASCII в символ
29,S.capitalize(),Переводит первый символ строки в верхний регис...
30,"S.center(width, [fill])","Возвращает отцентрованную строку, по краям кот..."
31,"S.count(str, [start],[end])",Возвращает количество непересекающихся вхожден...
32,S.expandtabs([tabsize]),"Возвращает копию строки, в которой все символы..."
33,S.lstrip([chars]),Удаление пробельных символов в начале строки
34,S.rstrip([chars]),Удаление пробельных символов в конце строки
35,S.strip([chars]),Удаление пробельных символов в начале и в конц...
36,S.partition(шаблон),"Возвращает кортеж, содержащий часть перед перв..."
37,S.rpartition(sep),"Возвращает кортеж, содержащий часть перед посл..."
38,S.swapcase(),"Переводит символы нижнего регистра в верхний, ..."
39,S.title(),Первую букву каждого слова переводит в верхний...
40,S.zfill(width),"Делает длину строки не меньшей width, по необх..."
41,"S.ljust(width, fillchar="" "")","Делает длину строки не меньшей width, по необх..."
42,"S.rjust(width, fillchar="" "")","Делает длину строки не меньшей width, по необх..."
43,"S.format(*args, **kwargs)",Форматирование строки

Строка `pd.read_html('https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html')[0]` состоит из двух частей: `pd.read_html` и `'[0]'`.

`pd.read_html` - это функция в библиотеке pandas, которая позволяет импортировать таблицы из HTML-страниц и возвращать их в виде списка pandas DataFrame. Она принимает URL в качестве аргумента и возвращает список всех найденных таблиц на странице в виде DataFrame. В данном случае URL `'https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html'` указывает на страницу с табличными данными.

`[0]` - это индекс, который указывает на первый элемент возвращаемого списка pandas DataFrame. Поскольку `pd.read_html` возвращает список, мы можем использовать `[0]` для доступа к первой таблице из списка.