<a href="https://colab.research.google.com/github/stefkong1982/netology.ru/blob/Master/Statistika_v_Python/Korrelyaciya_i_korrelyacionnyj_analiz/DZ_Kondrstev_STPY-48_Korrelyaciya_i_regressiya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Преподаватель:** Олег Булыгин

### **Домашнее задание к лекции «Корреляция и корреляционный анализ»**

Возьмите датасет Mortality and Water Hardness**

www.kaggle.com...r-hardness

В этом датасете содержатся данные по средней годовой смертности на
100000 населения и концентрации кальция в питьевой воде для 61
большого города в Англии и Уэльсе. Города дополнительно поделены на
северные и южные.

**Задание 1.**

**Ответить на вопрос: есть ли связь между жёсткостью воды и средней годовой смертностью?**

* Построить точечный график
* Рассчитать коэффициенты корреляции Пирсона и Спирмена
* Построить модель линейной регрессии
* Рассчитать коэффициент детерминации
* Вывести график остатков


**Задание 2.**

**Ответить на вопрос: сохраняется ли аналогичная зависимость для северных и южных городов по отдельности?**

* Разделить данные на 2 группы
* Повторить аналогичные шаги из пункта 1 для каждой группы по отдельности

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# Импорт библиотек

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/stefkong1982/netology.ru/Master/Statistika_v_Python/Korrelyaciya_i_korrelyacionnyj_analiz/water.csv')
# Загружаем данные

In [3]:
data
# Смитрим наш дата фрейм

    Unnamed: 0 location           town  mortality  hardness
0            1    South           Bath       1247       105
1            2    North     Birkenhead       1668        17
2            3    South     Birmingham       1466         5
3            4    North      Blackburn       1800        14
4            5    North      Blackpool       1609        18
..         ...      ...            ...        ...       ...
56          57    South        Walsall       1527        60
57          58    South  West Bromwich       1627        53
58          59    South       West Ham       1486       122
59          60    South  Wolverhampton       1485        81
60          61    North           York       1378        71

[61 rows x 5 columns]

In [4]:
data.info()
# Смотрим информацию

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  61 non-null     int64
 1   location    61 non-null     object
 2   town        61 non-null     object
 3   mortality   61 non-null     int64
 4   hardness    61 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.5+ KB