Домашнее задание «Откуда берутся данные»

In [ ]:
!python -m pip install --upgrade 'sqlalchemy<2.0’

/bin/bash: -c: line 0: unexpected EOF while looking for matching `''
/bin/bash: -c: line 1: syntax error: unexpected end of file

In [ ]:
import pandas as pd

In [ ]:
df_country = pd.read_sql(
"""
select
  *
from
  country;
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)

In [ ]:
df_country.head()

,code,name,continent,region,surface_area,indep_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
1,NLD,Netherlands,Europe,Western Europe,41526.0,1581.0,15864000,78.3,371362.0,360478.0,Nederland,Constitutional Monarchy,Beatrix,5.0,NL
2,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN
3,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL
4,DZA,Algeria,Africa,Northern Africa,2381740.0,1962.0,31471000,69.7,49982.0,46966.0,Al-Jazair/Algérie,Republic,Abdelaziz Bouteflika,35.0,DZ

In [ ]:
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   code             239 non-null    object
 1   name             239 non-null    object
 2   continent        239 non-null    object
 3   region           239 non-null    object
 4   surface_area     239 non-null    float64
 5   indep_year       192 non-null    float64
 6   population       239 non-null    int64
 7   life_expectancy  222 non-null    float64
 8   gnp              239 non-null    float64
 9   gnp_old          178 non-null    float64
 10  local_name       239 non-null    object
 11  government_form  239 non-null    object
 12  head_of_state    238 non-null    object
 13  capital          232 non-null    float64
 14  code2            239 non-null    object
dtypes: float64(6), int64(1), object(8)
memory usage: 28.1+ KB

In [ ]:
df_country_language = pd.read_sql(
"""
select
  *
from
  country_language;
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)

In [ ]:
df_country_language.head()

  country_code    language  is_official  percentage
0          AFG      Pashto         True        52.4
1          NLD       Dutch         True        95.6
2          ANT  Papiamento         True        86.2
3          ALB   Albaniana         True        97.9
4          DZA      Arabic         True        86.0

In [ ]:
df_country_language.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  984 non-null    object
 1   language      984 non-null    object
 2   is_official   984 non-null    bool
 3   percentage    984 non-null    float64
dtypes: bool(1), float64(1), object(2)
memory usage: 24.1+ KB

In [ ]:
df = pd.read_sql(
"""
SELECT 
  *
FROM
  country c
INNER JOIN
  country_language cL
ON
  cL.country_code = c.code
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)
df.head()

,code,name,continent,region,surface_area,indep_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2,country_code,language,is_official,percentage
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF,AFG,Pashto,True,52.4
1,NLD,Netherlands,Europe,Western Europe,41526.0,1581.0,15864000,78.3,371362.0,360478.0,Nederland,Constitutional Monarchy,Beatrix,5.0,NL,NLD,Dutch,True,95.6
2,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN,ANT,Papiamento,True,86.2
3,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL,ALB,Albaniana,True,97.9
4,DZA,Algeria,Africa,Northern Africa,2381740.0,1962.0,31471000,69.7,49982.0,46966.0,Al-Jazair/Algérie,Republic,Abdelaziz Bouteflika,35.0,DZ,DZA,Arabic,True,86.0

In [ ]:
df = pd.read_sql(
"""
SELECT *
FROM country c
INNER JOIN country_language cL
ON cL.country_code = c.code
WHERE is_official = True
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)
df.head()

,code,name,continent,region,surface_area,indep_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2,country_code,language,is_official,percentage
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF,AFG,Pashto,True,52.4
1,NLD,Netherlands,Europe,Western Europe,41526.0,1581.0,15864000,78.3,371362.0,360478.0,Nederland,Constitutional Monarchy,Beatrix,5.0,NL,NLD,Dutch,True,95.6
2,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN,ANT,Papiamento,True,86.2
3,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL,ALB,Albaniana,True,97.9
4,DZA,Algeria,Africa,Northern Africa,2381740.0,1962.0,31471000,69.7,49982.0,46966.0,Al-Jazair/Algérie,Republic,Abdelaziz Bouteflika,35.0,DZ,DZA,Arabic,True,86.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   code             238 non-null    object
 1   name             238 non-null    object
 2   continent        238 non-null    object
 3   region           238 non-null    object
 4   surface_area     238 non-null    float64
 5   indep_year       197 non-null    float64
 6   population       238 non-null    int64
 7   life_expectancy  229 non-null    float64
 8   gnp              238 non-null    float64
 9   gnp_old          180 non-null    float64
 10  local_name       238 non-null    object
 11  government_form  238 non-null    object
 12  head_of_state    237 non-null    object
 13  capital          237 non-null    float64
 14  code2            238 non-null    object
 15  country_code     238 non-null    object
 16  language         238 non-null    object
 17  is_official      238 non-null    bool
 18  percentage       238 non-null    float64
dtypes: bool(1), float64(7), int64(1), object(10)
memory usage: 33.8+ KB

In [ ]:
df_cl = df_country.merge(
    df_country_language, 
    left_on='code', 
    right_on='country_code', 
    how='inner'
    )
df_cl.head()

,code,name,continent,region,surface_area,indep_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2,country_code,language,is_official,percentage
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF,AFG,Pashto,True,52.4
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF,AFG,Dari,True,32.1
2,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF,AFG,Uzbek,False,8.8
3,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF,AFG,Turkmenian,False,1.9
4,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF,AFG,Balochi,False,0.9

In [ ]:
filter_True = df_cl['is_official'] == True
df_cl.loc[filter_True]

,code,name,continent,region,surface_area,indep_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2,country_code,language,is_official,percentage
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF,AFG,Pashto,True,52.4
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF,AFG,Dari,True,32.1
5,NLD,Netherlands,Europe,Western Europe,41526.0,1581.0,15864000,78.3,371362.0,360478.0,Nederland,Constitutional Monarchy,Beatrix,5.0,NL,NLD,Dutch,True,95.6
9,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN,ANT,Papiamento,True,86.2
11,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN,ANT,Dutch,True,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,EST,Estonia,Europe,Baltic Countries,45227.0,1991.0,1439200,69.5,5328.0,3371.0,Eesti,Republic,Lennart Meri,3791.0,EE,EST,Estonian,True,65.3
962,USA,United States,North America,North America,9363520.0,1776.0,278357000,77.1,8510700.0,8110900.0,United States,Federal Republic,George W. Bush,3813.0,US,USA,English,True,86.2
974,VIR,"Virgin Islands, U.S.",North America,Caribbean,347.0,NaN,93000,78.1,0.0,NaN,Virgin Islands of the United States,US Territory,George W. Bush,4067.0,VI,VIR,English,True,81.7
979,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW,ZWE,English,True,2.2
983,UMI,United States Minor Outlying Islands,Oceania,Micronesia/Caribbean,16.0,NaN,0,NaN,0.0,NaN,United States Minor Outlying Islands,Dependent Territory of the US,George W. Bush,NaN,UM,UMI,English,True,0.0

In [ ]:
df_True = df_cl[df_cl.is_official == True]

In [ ]:
df_True.head()

,code,name,continent,region,surface_area,indep_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2,country_code,language,is_official,percentage
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF,AFG,Pashto,True,52.4
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF,AFG,Dari,True,32.1
5,NLD,Netherlands,Europe,Western Europe,41526.0,1581.0,15864000,78.3,371362.0,360478.0,Nederland,Constitutional Monarchy,Beatrix,5.0,NL,NLD,Dutch,True,95.6
9,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN,ANT,Papiamento,True,86.2
11,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN,ANT,Dutch,True,0.0

In [ ]:
df_True.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 238 entries, 0 to 983
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   code             238 non-null    object
 1   name             238 non-null    object
 2   continent        238 non-null    object
 3   region           238 non-null    object
 4   surface_area     238 non-null    float64
 5   indep_year       197 non-null    float64
 6   population       238 non-null    int64
 7   life_expectancy  229 non-null    float64
 8   gnp              238 non-null    float64
 9   gnp_old          180 non-null    float64
 10  local_name       238 non-null    object
 11  government_form  238 non-null    object
 12  head_of_state    237 non-null    object
 13  capital          237 non-null    float64
 14  code2            238 non-null    object
 15  country_code     238 non-null    object
 16  language         238 non-null    object
 17  is_official      238 non-null    bool
 18  percentage       238 non-null    float64
dtypes: bool(1), float64(7), int64(1), object(10)
memory usage: 35.6+ KB