# Предсказываем стоимость мед страховки

## Загужаем необходимые библиотеки

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Загружаем данные

Собраны данные:
- age: возраст
- sex: пол
- bmi: индекс массы тела
- children: количество детей, охваченных медицинским страхованием / количество иждивенцев
- smoker: курение
- region: регион (northeast, southeast, southwest, northwest).
- charges: индивидуальные медицинские расходы (его и хотим предсказать)

In [ ]:
# Загрузите данные из файла insurance.csv в переменную df

In [ ]:
df = pd.read_csv('insurance.csv', sep=',')

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Смотрим статистику, что нет пропусков и отсуствующих значений

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## Преобразуем строковые данные

In [ ]:
# Заменяем пол и курение на числа
df['sex']=df['sex'].map({'male':1, 'female':0})
df['smoker']=df['smoker'].map({'yes':1,'no':0})

In [ ]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [ ]:
# Заменяем регион на набор отдельных колонок (is_southwest, is_southeast и тп)
df = pd.get_dummies(df, columns=['region'])
df.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0

## Формируем признаки и целевую переменную

In [ ]:
## Сформируйте признаки и целевую переменную

In [ ]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'],
      dtype='object')

In [48]:
X = df[['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast', 'region_northwest', 'region_southeast','region_southwest']]
y = df['charges']

In [49]:
X

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,0,0,0,1
1,18,1,33.770,1,0,0,0,1,0
2,28,1,33.000,3,0,0,0,1,0
3,33,1,22.705,0,0,0,1,0,0
4,32,1,28.880,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,0,1,0,0
1334,18,0,31.920,0,0,1,0,0,0
1335,18,0,36.850,0,0,0,0,1,0
1336,21,0,25.800,0,0,0,0,0,1
1337,61,0,29.070,0,1,0,1,0,0

In [ ]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

## Разделяем данные на выборку для обучения/проверки

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
983,27,0,30.590,1,0,1,0,0,0
1209,59,1,37.100,1,0,0,0,0,1
957,24,1,26.790,1,0,0,1,0,0
1297,28,0,26.510,2,0,0,0,1,0
27,55,0,32.775,2,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1239,25,0,42.130,1,0,0,0,1,0
77,21,1,35.530,0,0,0,0,1,0
138,54,0,31.900,3,0,0,0,1,0
1114,23,1,24.510,0,0,1,0,0,0
374,20,1,33.330,0,0,0,0,1,0

In [ ]:
X_test

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
1334,18,0,31.920,0,0,1,0,0,0
515,58,1,35.700,0,0,0,0,0,1
1324,31,1,25.935,1,0,0,1,0,0
1082,38,1,19.950,1,0,0,1,0,0
1274,26,1,27.060,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...
493,61,1,43.400,0,0,0,0,0,1
1323,42,0,40.370,2,1,0,0,1,0
802,21,1,22.300,1,0,0,0,0,1
76,29,0,29.590,1,0,0,0,1,0
94,64,0,31.300,2,1,0,0,0,1

In [ ]:
y_train

983     16796.41194
1209    12347.17200
957     12609.88702
1297     4340.44090
27      12268.63225
           ...
1239     3238.43570
77       1532.46970
138     27322.73386
1114     2396.09590
374      1391.52870
Name: charges, Length: 1070, dtype: float64

In [ ]:
y_test

1334     2205.98080
515     11362.75500
1324     4239.89265
1082     5855.90250
1274    17043.34140
           ...
493     12574.04900
1323    43896.37630
802      2103.08000
76       3947.41310
94      47291.05500
Name: charges, Length: 268, dtype: float64

## Создаем и обучаем модель линейной регресии

In [ ]:
# Создайте и обучите модель

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
lr.coef_

array([  256.78132509,  -157.51791799,   327.6390977 ,   522.4535018 ,
       23661.70879536,   665.90137211,   324.51766919,  -749.85800286,
        -240.56103843])

## Получаем предсказание и оцениваем качество

In [ ]:
# Получите предсказание

In [ ]:
lr.predict(X_test)

array([ 3509.06761441, 13954.8160788 ,  4909.85672175,  4746.40599766,
       26059.42370271, 12855.30068368, 26880.91021104,  8213.65444534,
       37398.07849021, 12583.27763017, 31824.23729789, 39002.63673305,
        8734.61725382,  6963.0908176 ,  5955.71694679, 11647.46999034,
        8915.04423271, 11114.64135626, 28901.74900849,  -341.56312561,
       36991.67080409, 11853.33666254, 12425.38473932, 14756.97507557,
        1839.0059286 ,  6941.91900166,  6247.0773823 , 12358.95480124,
       12880.90453961,  5466.4405252 ,  9726.73931066, 35073.64330754,
       11685.20953283,  3723.22532074,  8748.92850931,  3501.12495454,
       25307.12314874, 14708.3860035 ,  8731.2671109 , 25164.24817302,
        5433.94447987, 33588.36900187, 27377.84829388, 11638.26671349,
       15044.08350485, 13508.96395451, 12218.3187882 , 32019.47790184,
        5128.55812134,  3888.91143941, 15263.72862016, 11578.51164987,
        1057.02160461, 10358.65298388,  7768.58159939, 11304.92450479,
       13168.54100874,  7149.81591214,  2917.67904307, 14122.70347512,
        6347.3240655 ,  6488.30748571, 11641.83204537, 15245.57761076,
        2995.48169331, 11790.54957531,  9429.68461463, 34443.03554702,
       10420.76961424, 13151.02987573,  8685.38002024,  9922.3151166 ,
       12517.87474943,  4825.72523055, 14948.39327803,  7367.51434591,
         855.9911202 ,  2979.93047163,  4082.50301463, 23620.55563511,
       10303.65027228, 26831.5068338 , 14242.66035715,  9055.83048942,
        7750.07233219, 10242.08061951,  6115.00808463,  5986.51113026,
        8061.25966224, 40197.73546168,  4073.78858832,  -861.91701764,
        7803.60588943,  8295.89894036, 10474.26498938,  6492.54340047,
       14452.78407802,  9525.28347424,  2207.65060793, 10884.31740983,
       28578.31897085, 12862.10041127,  9593.69115574,  6352.79474804,
        7605.75256592,  7687.54931342, 10866.83078112, 10232.0357318 ,
       11050.0557972 , -1766.87753054, 33037.04796989, 28877.68846391,
       10411.9902899 , 34821.12690775,  4217.1368902 ,  2691.22605553,
        1869.91645391, 13168.80322095, 30532.21392662, 28054.62765264,
        8244.35816524, 38892.70921436, 27370.27778645,  1989.77060796,
        2557.83234678, 10722.7903516 ,  5792.70437883, 30366.01569924,
       11250.65321064,  3834.95366338,  9805.57753123,  6645.46224393,
        3281.47611517,  8508.12385806,  7165.41367567,   456.85826825,
        9322.09232103, 31692.93471317,  9284.87401848,  7491.6716492 ,
       11584.37047787, 30664.88599163, 14659.71918288,  9226.94046973,
       11369.06527993,  7812.30048983, 31827.24188526, 33803.62029097,
        7057.48446532,  2758.16445667, 15760.09101994, 12192.01899727,
        1286.46770891, 10425.14806064, 26951.00706321,   366.34635524,
       33041.24506519, 12922.17333894, 27358.50657871,  -499.26410946,
        -917.9462195 , 10397.554309  ,  -359.45241695, 31863.88972589,
       13324.41859423, 27872.3405511 ,  2171.61451264, 29527.04000131,
       11707.01824854, 12791.20645037,  5878.54435796,  2851.05150713,
       25203.98615157, 11872.01036036, 13693.94498022, 10510.92699351,
       12862.71361614, 11694.03083969, 11631.77941112,  5343.92804518,
        6379.69123286,  8609.60200723, 10318.58987613, 39214.66995886,
        5753.60286331,  8651.17639061,  8882.76085558, 12396.28366399,
       32097.39049231, 38342.76251004, 39479.61948464,  8712.76199627,
        7924.30298649,  7929.87165469, 28581.9364951 ,  4677.29242159,
        2397.7614492 ,  6248.13047117,  4201.81071689,  5185.53499087,
        3609.18481053, 36716.49629841,  2579.86189092, 34735.90503375,
       27339.94191747,  9388.40433193,  3306.7155652 , 36470.88284836,
        8019.55261938,  6469.85304375, 30486.65223144, 12177.357968  ,
       15498.15479052, 11360.56210514,  3933.5009754 , 16841.6010371 ,
        8433.94183358,  9243.10746353,  7317.97638557, 10312.78965659,
        5625.70160837, 13709.40338621, 11533.60797389,  9842.17856202,
       25106.66610005, 11633.72095178,  9123.21119925, 32159.59688039,
       34471.99086491,  7635.55229655,  7346.55328732, 13633.29112553,
       12675.71053148, 10655.25683086,  4825.81831425,  6363.70137365,
        8319.17949903,  5619.86188597,  4449.72446128, 30100.48314807,
       31676.11301511,  6114.22415956, 24980.94041404, 40105.64812697,
       26090.15117493, 12802.07946427,  6149.06857352,  3397.37806708,
        3322.49183525,  3203.74306259,  9536.4574829 ,  4541.53887362,
        9925.40451531, 12830.21921538, 36989.82799935, 10948.4555538 ,
       15955.59679971,  9354.12695208, 36853.23647719,  3586.87026465,
       33048.34407277,  7348.39215288, 16011.25767099, 17247.98110634,
       35731.22621613,   585.99664309,  4676.9572196 , 38918.02571642])

In [ ]:
# Оцените качество, при помощи метода mean_squared_error для тестовой выборки

In [ ]:
pd.DataFrame([y_test.values, lr.predict(X_test)]).T

               0             1
0     2205.98080   3509.067614
1    11362.75500  13954.816079
2     4239.89265   4909.856722
3     5855.90250   4746.405998
4    17043.34140  26059.423703
..           ...           ...
263  12574.04900  17247.981106
264  43896.37630  35731.226216
265   2103.08000    585.996643
266   3947.41310   4676.957220
267  47291.05500  38918.025716

[268 rows x 2 columns]

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test, lr.predict(X_test))

39827456.529814795

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

35746074.82947608

## Делаем предсказание для одного человека

In [ ]:
# Заполняем данные по конкретному человеку
data = [{
    "age": 20,
    "sex": 1,
    "bmi": 30,
    "children": 2,
    "smoker": 1,
    "region_northeast": 0,
    "region_northwest": 0,
    "region_southeast": 1,
    "region_southwest": 0
}]

In [ ]:
df_person = pd.DataFrame(data)
df_person.head()

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,20,1,30,2,1,0,0,1,0

In [ ]:
lr.predict(df_person)

array([26526.90170301])